{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_redirect/ruleactions

    Actions.

    Example context (json):
    {
        "editurl": "https://url.com",
        "deleteurl": "https://url.com"
    }
}}
<a href="{{{editurl}}}" class="btn btn-secondary">{{#str}}edit, tool_redirect{{/str}}</a>
<a href="{{{deleteurl}}}" class="btn btn-danger text-white">{{#str}}delete, tool_redirect{{/str}}</a>